<div class="modal-body clearfix">
  <div>
    <div>  
      <strong class="text-danger">Izbrišem</strong> izpitni rok pri predmetu <strong>{{ vm.examTerm.courseOrganization.course.name }}</strong>, ki bo <strong>{{ vm.examTerm.datetime | formatDate }}</strong>?
      <br/><br/>
    </div>

    <div ng-show="vm.sendStatus" class="alert alert-danger" style="display: block; text-align: left; margin-top: 6px; margin-bottom: 6px;">
       Izbris ni mogoč zaradi sledečih napak: <strong>{{ vm.sendStatus | formatError }}</strong>
    </div>
  </div>

  <div style="float: right; margin-top: 6px;">
    <button type="button" class="btn btn-danger btn-sm" ng-click="vm.deleteExamTerm()"><span class="glyphicon glyphicon-trash"></span> Izbriši</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="vm.close()">Zapri</button>
  </div>

</div>