<div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3 ng-show="vm.searchResult">
          Seznam izpitov
          <export-buttons ng-show="vm.searchResult" exp-data="vm.searchResult" exp-title="Seznam izpitov", exp-col-names="['#', 'Datum', 'Predmet', 'Organizator']", exp-col-values="['formattedDatetime', 'courseName', 'organizerFullName']"></export-buttons>
        </h3>
        <table ng-show="vm.searchResult" class="table table-striped">
          <thead>
            <tr class="success">
              <th>#</th>
              <th>Datum</th>
              <th>Predmet</th>
              <th>Trajanje</th>
              <th>Vrsta</th>
              <th>Organizator</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="result in vm.searchResult">
              <td>{{ result.id }}</td>
              <td>{{ result.formattedDatetime }}</td>
              <td>{{ result.courseName }}</td>
              <td>{{ result.duration }}</td>
              <td>{{ result.type }}</td>
              <td>{{ result.organizerFullName }}</td>
              <td><a class="btn btn-primary btn-xs" href="/examterm/{{ result.id }}">Uredi</a></td>
              <td><a class="btn btn-danger btn-xs" ng-click="vm.deleteCourse(result.id)">Izbriši</a></td>
            </tr>
          </tbody>
        </table>

        <div style="text-align: center;">
          <ul uib-pagination first-text="Prva" last-text="Zadnja" next-text="Naprej" previous-text="Nazaj" boundary-links=true max-size=15 items-per-page="20" total-items="vm.totalCount" ng-model="vm.currentPage" ng-change="vm.changedPage()"></ul>
        </div>

        <div ng-hide="vm.searchResult">Začnite iskanje z obrazcem na levi.</div>
      </div>
    </div>
  </div>
