<!--
<sis-navbar></sis-navbar>

<div class="container">

  
  <div class="row">
    <div class="col-md-6">
      <h3>Vpisni list</h3>
    </div>
    <div class="col-md-6">
      <a ng-click="" href="#" class="btn btn-success btn-sm pull-right" style="margin-top:3%;"><span class="glyphicon glyphicon-print"></span> Natisni</a>
      <a ng-click="" href="#" class="btn btn-primary btn-sm pull-right" style="margin-right:10px;margin-top: 3%;"><span class="glyphicon glyphicon-download-alt"></span> Prenesi</a>
    </div>
  </div>

  
  <div class="row">
      <div class="col-md-12">
        <embed ng-src="{{vm.content}}" style="width:100%;height:200px;background-color: blueviolet"></embed>
      </div>
    </div>
</div>
-->


<div class='some-pdf-container'>
  <!-- Example of loading pdf from URL string. Note that this must be an interpolation string -->
  <pdfjs-viewer src="{{ pdf.src }}"></pdfjs-viewer>

  <!-- 
      Example of loading pdf from raw binary data. Note that this must be a scope variable.
      Comment upper viewer out if you use this viewer (because multi pdf viewers are currently not supported)
  -->
  <!-- <pdfjs-viewer data="pdf.data"></pdfjs-viewer> -->
</div>