<sis-navbar></sis-navbar>

<div class="container student-view">

    <div ng-if="vm.alert" class="alert alert-dismissible alert-danger custom-alert">
      <button type="button" class="close" data-dismiss="alert" ng-click="vm.alert = false">&times;</button>
      <strong>Napaka!</strong> {{ vm.alertMessage }}
    </div>

  <h3>{{ vm.student.name }} {{ vm.student.surname }} ({{ vm.student.registerNumber }})</h3>
  <hr/>
  <div class="row">
    <div class="col-md-12" style="margin-bottom:50px">
      <h4><span class="glyphicon glyphicon-calendar"></span> Izpitni roki</h4>
      <table class="table table-striped">
        <thead>
          <tr class="success">
            <th>Datum</th>
            <th>Predmet</th>
            <th>Organizator</th>
            <th>Vrsta, trajanje</th>
            <th>
              <a ng-if="vm.examTermsCount > 0 && vm.examTermsCount > vm.hideInt" ng-click="vm.hideInt = vm.examTermsCount" class="btn btn-primary btn-xs pull-right" >Prikaži vse izpitne roke <span class="glyphicon glyphicon-chevron-down" style="margin-left:5px"></span></a>
              <a ng-if="vm.examTermsCount > 0 && vm.examTermsCount <= vm.hideInt" ng-click="vm.hideInt = 10" class="btn btn-primary btn-xs pull-right" >Prikaži manj izpitnih rokov <span class="glyphicon glyphicon-chevron-up" style="margin-left:5px"></span></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="term in vm.examTerms" ng-class="!term.isValid? 'disable-row':''">
            <td ng-if="$index < vm.hideInt">{{ term.datetime | formatDate }}</td>
            <td ng-if="$index < vm.hideInt">{{ term.courseOrganization.course.name }}</td>
            <td ng-if="$index < vm.hideInt">{{ term.organizer.firstName }} {{ term.organizer.lastName1 }} {{ term.organizer.lastName2 }}</td>
            <td ng-if="$index < vm.hideInt">{{ term.type }}, {{ term.duration }} minut</td>
            <td ng-if="$index < vm.hideInt">
              <a ng-if="term.signedUp" class="btn btn-danger btn-xs pull-right" ng-click="vm.signDown(term)">Odjava</a>
              <a ng-disabled="!term.isValid" ng-if="!term.signedUp" class="btn btn-primary btn-xs pull-right" ng-click="vm.signUp(term)">Prijava</a>
              <button ng-disabled="!term.isValid" uib-popover="{{ term.notes || 'Ni opomb' }}" popover-trigger="'mouseenter'" class="btn btn-info btn-xs  pull-right" style="padding-left: 8px; padding-right: 8px; margin-right:30px"><span class="glyphicon glyphicon-info-sign"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div style="width: 100%; text-align: center; font-size: 1.2em;">
        <img ng-if="vm.examTerms == undefined" src="public/images/progress.gif" class="loading-gif">
        <div ng-if="vm.examTerms.length == 0">
          <span class="glyphicon glyphicon-lamp"></span><br />Ni razpisanih rokov
        </div>
      </div>
    </div>
    <div class="col-md-12" style="margin-bottom:50px">
      <h4><span class="glyphicon glyphicon-education"></span> Vpisi</h4>

      <div style="margin-bottom: 6px;">
        <a class="btn btn-info btn-block" ng-if="vm.hasToken && vm.role.id == 2" href="/enrol/{{ vm.student.id }}"><span class="glyphicon glyphicon-edit"></span>  Na voljo vam je vpis v <b>{{ vm.token.year }}. letnik</b> programa <b>{{ vm.token.studyProgram.name }}</b> - <b>{{ vm.token.studyYear.name }}</b></a>
        <a class="btn btn-warning btn-block" ng-click="vm.viewEnrolmentPdf()" ng-if="vm.uncEnrol != undefined && (vm.role.id == 2 || vm.role.id == 4)" ><span class="glyphicon glyphicon-print"></span>  Natisni vpisni list za <b>{{ vm.uncEnrol.year }}. letnik</b> programa <b>{{ vm.uncEnrol.studyProgram.name }}</b> - <b>{{ vm.uncEnrol.studyYear.name }}</b>.</a>
      </div>
  
      <table class="table table-striped">
        <thead>
          <tr class="success">
            <th colspan=2>Študijski program</th>
            <th>Študijsko leto</th>
            <th>Letnik</th>
            <th>Vrsta vpisa</th>
            <th>Način vpisa</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="enrolment in vm.enrolments">
            <td><b>{{ enrolment.studyProgram.id }}</b></td>
            <td><b>{{ enrolment.studyProgram.name }}</b></td>
            <td>{{ enrolment.studyYear.name }}</td>
            <td><b>{{ enrolment.year + '.' }}</b></td>
            <td>{{ enrolment.type | formatDisplayName }}</td>
            <td>{{ enrolment.kind | formatDisplayName }}</td>
            <td ng-if="enrolment.confirmed"> <b style="color:#18bc9c">Potrjeno</b> </td>
            <td ng-if="!enrolment.confirmed"> {{vm.uncEnrol=enrolment;""}} <b style="color:#f39c12">Nepotrjeno</b> </td>
          </tr>
        </tbody>
      </table>
      <div style="width: 100%; text-align: center; font-size: 1.2em;">
        <img ng-if="vm.enrolments == undefined" src="public/images/progress.gif" class="loading-gif">
        <div ng-if="vm.enrolments.length == 0">
          <span class="glyphicon glyphicon-road"></span><br />Ni vpisov
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h4><span class="glyphicon glyphicon-user"></span> Osebni podatki</h4>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group personal-data">
            <li class="list-group-item">
              Priimek in ime:<br />
              <strong>{{ vm.student.surname }}, {{ vm.student.name }}</strong>
            </li>
            <li class="list-group-item">
              Vpisna številka:<br />
              <strong>{{ vm.student.registerNumber }}</strong>
            </li>
            <li class="list-group-item">
              Telefonska številka:
              <strong>{{ vm.student.phoneNumber || '/' }}</strong>
            </li>
            <li class="list-group-item">
              Elektronski naslov: 
              <strong>{{ vm.student.email }}</strong>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group personal-data">
            <li class="list-group-item">
              Naslov stalnega bivališča:<br />
              <span class="text-success" ng-if="vm.student.sendingAddress != 2"><span class="glyphicon glyphicon-inbox"></span> Naslov za prejemanje:</span>
              <strong>{{ vm.student.address1 | formatAddress:false }}</strong>
            </li>
            <li class="list-group-item">
              Naslov začasnega bivališča:<br />
              <span class="text-success" ng-if="vm.student.sendingAddress == 2"><span class="glyphicon glyphicon-inbox"></span> Naslov za prejemanje:</span>
              <strong>{{ vm.student.address2 | formatAddress:false }}</strong>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>