<div class="modal-body clearfix">
  
  <div ng-if="vm.action != 'history'">
    <div>  
      <span ng-if="vm.action == 'signup'"><strong class="text-success">Prijavim</strong> se na izpit</span>
      <span ng-if="vm.action == 'signdown'"><strong class="text-danger">Odjavim</strong> se z izpita</span>
      pri predmetu <strong>{{ vm.examTerm.courseOrganization.course.name }}</strong>, ki bo <strong>{{ vm.examTerm.datetime | formatDate }}</strong>?
      <br/><br/>
      <span ng-if="vm.action == 'signup'">To bo <strong>{{ vm.examTerm.previousAttempts[0]+1 }}.</strong> polaganje izpita letos, in <strong>{{ vm.examTerm.previousAttempts[1]+1 }}.</strong> polaganje izpita pri tem predmetu (vključno s polaganji prejšnjih let).</span>
    </div>

    <div ng-show="vm.sendStatus" class="alert alert-danger" style="display: block; text-align: left; margin-top: 6px; margin-bottom: 6px;">
      <span ng-if="vm.action == 'signup'">Prijava</span>
      <span ng-if="vm.action == 'signdown'">Odjava</span>
       ni mogoča zaradi sledečih napak: <strong>{{ vm.sendStatus | formatError }}</strong>
    </div>
  </div>

  <div ng-if="vm.action == 'history'">
    <h4 style="margin-bottom:20px">Zgodovina zadnjih 30 dejanj</h4>
    <div style="overflow-y: auto; max-height: 300px;">
        <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>Datum</th>
                <th>Uporabniško ime odjavitelja</th>
                <th>Dejanje</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="his in vm.history">
                <td>{{ his.datetime | formatDate }}</td>
                <td>{{ his.userLogin.username }}</td>
                <td>{{ his.action }}</td>
              </tr>
            </tbody>
          </table>

      <div ng-if="vm.history == undefined" style="text-align:center">
        Ni zgodovine
      </div>
    </div>
    <hr/>
    <h4 style="margin-bottom:20px">Pretekle prijave</h4>
    <div style="overflow-y: auto; max-height: 300px;">
        <table class="table table-striped">
            <thead>
              <tr class="active">
                <th>Čas izpita</th>
                <th>Ocena</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sig in vm.signups">
                <td>{{ sig.courseExamTerm.datetime | formatDate }}</td>
                <td>{{ sig.grade }}</td>
                <td></td>
              </tr>
            </tbody>
          </table>

      <div ng-if="vm.signups == undefined" style="text-align:center">
        Ni preteklih prijav
      </div>
    </div>
  </div>

  <div style="float: right; margin-top: 6px;">
    <button type="button" class="btn btn-success btn-sm" ng-if="vm.action == 'signup'" ng-click="vm.signup()"><span class="glyphicon glyphicon-log-in"></span> Prijava</button>
    <button type="button" class="btn btn-warning btn-sm" ng-if="vm.action == 'signup' && vm.sendStatus && vm.userRole.id == 4" ng-click="vm.signupforce()"><span class="glyphicon glyphicon-log-in"></span> Prijavi kljub opozorilom</button>
    <button type="button" class="btn btn-danger btn-sm" ng-if="vm.action == 'signdown'" ng-click="vm.signdown()"><span class="glyphicon glyphicon-log-out"></span> Odjava</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="vm.close()">Zapri</button>
  </div>

</div>