<!-- Generate token -->
<div ng-if="vm.enrolmentToken == null">
  <a ng-click="vm.NewEnrolmentToken()" href="#" class="btn btn-primary btn-xs" ng-class="!vm.enrolled ? 'disabled' :''">Generiraj</a>
</div>
<!-- Edit or delete token -->
<div ng-if="vm.enrolmentToken">
  <a ng-click="vm.openEditModal(vm.enrolmentToken)" class="btn btn-info btn-xs" ng-class="vm.enrolmentToken.used ? 'disabled' :''">
    <span class="glyphicon glyphicon-pencil"></span>
    Uredi
  </a>
  <a ng-click="vm.DeleteEnrolmentToken(vm.enrolmentToken.id)" class="btn btn-danger btn-xs" ng-class="vm.enrolmentToken.used ? 'disabled' :''">
    <span class="glyphicon glyphicon-trash"></span>
    Izbriši
  </a>
</div>