<div ng-if="vm.toggle" class="form-group" style="width:130px;">
    <div ng-class="vm.successPut? 'input-group has-success': 'input-group'">
      <input type="text" class="form-control" ng-model="vm.copies" style="height:35.5px;">
      <span class="input-group-btn">
        <a ng-class="vm.successPut? 'btn btn-success btn-sm': 'btn btn-primary btn-sm'" ng-click="vm.makeRequest()">
          <span class="glyphicon glyphicon-open-file"></span> Naroči
        </a>
      </span>
    </div>
</div>
<div ng-if="!vm.toggle">
  <a class="btn btn-primary btn-sm" type="button" ng-click="!enroled || (vm.toggle = !vm.toggle)" ng-disabled="!enroled">
      <span class="glyphicon glyphicon-duplicate"></span> Naroči potrdila o vpisu
  </a>
</div>