<nav class="navbar navbar-inverse"  style="border-radius: 0px">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Budget Studis®</a>
    </div>

    <ul class="nav navbar-nav" style="margin-left:20px">
      <div ng-show="vm.loggedIn">
        <div style="background-color: #15a589; height: 60px; width:60px;float:left">
          <img src="public/images/User_Avatar.png" style="height:100%;">
        </div>
        <div style="background-color: #15a589; height: 60px; width:300px">
          <div style="padding-top:8px;margin-left:70px">
            <div>Prijavljen kot: {{ vm.user }}</div>
            <div>Vloga: {{ vm.role.name }}</div>
          </div>
        </div>  
        <!--<p  class="navbar-text">Prijavljen kot: {{ vm.user }}. Vloga: {{ vm.role.name }}</p>-->
      </div>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li ng-if="!vm.loggedIn" ng-class="vm.navbarLocation.path() == '/login' ? 'active' : ''"><a href="/login">Prijava</a></li>
      <li ng-if="vm.loggedIn" ><a ng-click="vm.logout()" href="#" class="navbar-link">Odjava</a></li>
      <li ng-if="vm.loggedIn && vm.role.id == 1" ng-class="vm.navbarLocation.path() == '/control' ? 'active' : ''" ><a href="/control">Nadzorna plošča</a></li>
      <li ng-if="vm.loggedIn && vm.role.id == 2" ng-class="vm.navbarLocation.path() == '/' ? 'active' : ''" ><a href="/">Doma</a></li>
      <li ng-if="vm.loggedIn && vm.role.id == 1" ng-class="vm.navbarLocation.path() == '/codelist' ? 'active' : ''" ><a href="/codelist">Šifranti</a></li>
    </ul>
  </div>
</nav>
