<!-- Student has enrolment -->
<div ng-if="vm.enrolmentConfirmed != null">

  <!-- Enrolment was comfirmed -->
  <div ng-if="vm.enrolmentConfirmed">
    <a ng-click="vm.viewEnrolmentPdf()" href="#" class="btn btn-primary btn-xs">Potrdilo</a>
  </div>

  <!-- Enrolment was not comfirmed yet -->
  <div ng-if="!vm.enrolmentConfirmed">
    <a href="/enrol/{{ id }}" class="btn btn-warning btn-xs">Potrdi vpis</a>
  </div>

</div>

<!-- Student has no enrolments -->
<div ng-if="vm.enrolmentConfirmed == null">
  Brez vpisa
</div>