<md-dialog aria-label="List dialog">
  <md-dialog-content>
    <h4 class="login-title">Ponastavitev gesla</h4>
		<p>Vnesi email naslov na katerega bomo poslali žeton:</p>
		<div class="form-group input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			<input type="text" name="username" tabindex="1" placeholder="Email" class="form-control" ng-model="vm.email"/>
		</div>
		<md-dialog-actions>
	    <md-button ng-click="vm.send()" class="md-primary">
	      Pošlji
	    </md-button>
	  </md-dialog-actions>
		<p>Vnesi dani žeton in novo geslo:</p>
		<div class="form-group input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
			<input type="text" name="password" tabindex="2" placeholder="Žeton" class="form-control" ng-model="vm.token"/>
		</div>
		<div class="form-group input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
			<input type="password" name="password" tabindex="2" placeholder="Geslo" class="form-control" ng-model="vm.password"/>
		</div>
		<div class="form-group input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
			<input type="passwordRepeat" name="passwordRepeat" tabindex="2" placeholder="Ponovi geslo" class="form-control" ng-model="vm.passwordRepeat"/>
		</div>
		<md-dialog-actions>
			<md-button ng-click="vm.submit()" class="md-primary">
				Zamenjaj
			</md-button>
	    <md-button ng-click="vm.close()" class="md-primary">
	      Prekini
	    </md-button>
	  </md-dialog-actions>
		<div ng-show="vm.error" class="alert alert-danger">
			<strong>Šment, nekaj se je zalomilo!</strong> {{ vm.errorMsg }}
		</div>
  </md-dialog-content>
</md-dialog>
