<div class="container">
    <div class="row">
      <div class="col-md-3">
  
        <form class="form" ng-submit="vm.performSearch()">
          <div class="form-group">
            <label for="searchStudent" class="control-label">Iskanje študentov</label>
            <input type="text" class="form-control" id="searchStudent" placeholder="Iskanje..." ng-model="vm.searchValue" autocomplete="off" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-search"></span> Iskanje</button>
            <p class="help-block">Iščete lahko po imenu in priimku ali po vpisni številki.<br />Za iskanje pritisnite na gumb ali tipko Enter.</p>
          </div>
        </form>
  
      </div>
      <div class="col-md-9">
        <h3>Rezultati iskanja</h3>
        <table ng-show="vm.searchResult" class="table table-striped">
          <thead>
            <tr class="success">
              <th>Vpisna številka</th>
              <th>Ime</th>
              <th>Priimek</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="result in vm.searchResult">
              <th>{{ result.registerNumber }}</th>
              <td>{{ result.name }}</td>
              <td>{{ result.surname }}</td>
              <td><a class="btn btn-primary btn-xs" href="/student/{{ result.registerNumber }}">Več...</a></td>
              <td><enrolment-token-button id="result.id"></enrolment-token-button></td>
            </tr>
          </tbody>
        </table>
        <div ng-hide="vm.searchResult">Začnite iskanje z obrazcem na levi.</div>
        <!--ul>
          <li>Vpisna številka: {{ vm.student.vpisna }}</li>
          <li>Priimek in ime: {{ vm.student.priimek }}, {{ vm.student.ime }}</li>
          <li>Naslov stalnega bivališča: {{ vm.student.naslov1 }}</li>
          <li>naslov za prejemanje pošte: {{ vm.student.naslov2 }}</li>
          <li>telefonska številka: {{ vm.student.telefon }}</li>
          <li>e-poštni naslov: {{ vm.student.eposta }}</li>
          <li>
            Vpisi:
            <ul ng-repeat="vpis in vm.student.vpisi">
              <li>Študijsko leto: {{ vpis.leto }}</li>
              <ul>
                <li>Letnik: {{ vpis.letnik }}</li>
                <li>Študijski program: {{ vpis.program }}</li>
                <li>Vrsta vpisa: {{ vpis.vrsta }}</li>
                <li>Način študija: {{ vpis.nacin }}</li>
              </ul>
            </ul>
  
          </li>
        </ul-->
      </div>
    </div>
  </div>