<div class="container">
  <div class="row">
    <div class="col-md-3">

      <form class="form" ng-submit="vm.performSearch()">
        <div class="form-group" ng-class="vm.searchIsEmpty ? 'has-error' : ''">
          <label for="searchStudent" class="control-label">Iskanje študentov</label>
          <input type="text" class="form-control" id="searchStudent" placeholder="Iskanje..." ng-model="vm.search.value" autocomplete="off" />
        </div>
        <div class="form-group">
          <label for="orderStudent" class="control-label">Sortiranje</label>
          <select class="form-control input-sm" ng-model="vm.search.order">
            <option value="registerNumber DESC">Vpisna številka - padajoče</option>
            <option value="registerNumber ASC">Vpisna številka - naraščajoče</option>
            <option value="surname DESC,name DESC">Priimek in Ime - padajoče</option>
            <option value="surname ASC,name ASC">Priimek in Ime - naraščajoče</option>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon" ng-class="vm.searchInProgress ? 'glyphicon-refresh' : 'glyphicon-search'"></span> Iskanje</button>
          <p class="help-block">Iščete lahko po imenu in priimku ali po vpisni številki.<br />Za iskanje pritisnite na gumb ali tipko Enter.</p>
        </div>
      </form>

    </div>
    <div class="col-md-9">
      <h3>
        Rezultati iskanja
        <export-buttons ng-show="vm.searchResult" exp-data="vm.searchResult" exp-head="['Seznam študentov']", exp-col-names="['#','Vpisna številka','Ime','Priimek']", exp-col-values="['registerNumber','name','surname']"></export-buttons>
      </h3>
      <table ng-show="vm.searchResult" class="table table-striped table-hover">
        <thead>
          <tr class="success">
            <th>#</th>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th ng-if="vm.role.id == 4">Žeton za vpis</th>
            <th ng-if="vm.role.id == 4">Vpis</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in vm.searchResult">
            <td>{{ $index+1 }}</td>
            <td>{{ result.registerNumber }}</td>
            <td>{{ result.name }}</td>
            <td>{{ result.surname }}</td>
            <td ng-if="vm.role.id == 4"><enrolment-token-button id="result.id"></enrolment-token-button></td>
            <td ng-if="vm.role.id == 4"><enrolment-confirmation-button id="result.id"></enrolment-confirmation-button></td>
            <td><a class="btn btn-primary btn-xs" href="/student/{{ result.registerNumber }}">Več...</a></td>
          </tr>
        </tbody>
      </table>
      <div ng-hide="vm.searchResult">Začnite iskanje z obrazcem na levi.</div>
    </div>

  </div>
</div>
