<sis-navbar></sis-navbar>

<div class="container">
  <h2>Vpisni list 2014/2015</h2>



  <!-- Personal data -->
  <h3 class="enrol-section">Osebni podatki</h3>

  <!-- Name and surname -->
  <b>Priimek in Ime: </b>
  <div class="important-data">{{ vm.student.surname }} {{ vm.student.name }}</div>
  <br />

  <!-- Registr. number -->
  <b>Vpisna številka: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.registerNumber" ng-disabled="vm.student.registerNumber != undefined">
  </div>

  <!-- Date of birth -->
  <b>Datum rojstva: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="date" id="inputSmall" ng-model="vm.student.dateOfBirth" ng-disabled="vm.student.dateOfBirth != undefined">
  </div>

  <!-- Place of birth -->
  <b>Kraj rojstva: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.placeOfBirth" ng-disabled="vm.student.placeOfBirth != undefined">
  </div>

  <!-- Country, municipality of birth -->
  <b>Država, občina rojstva: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.countryOfBirth" ng-disabled="vm.student.countryOfBirth != undefined">
  </div>

  <!-- Citizenship -->
  <b>Državljanstvo: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.citizenship" ng-disabled="vm.student.citizenship != undefined">
  </div>

  <!-- Gender -->
  <b>Spol: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.gender" ng-disabled="vm.student.gender != undefined">
  </div>

  <!-- EMSO -->
  <b>EMŠO: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.emso" ng-disabled="vm.student.emso != undefined">
  </div>

  <!-- Tax number -->
  <b>Davčna številka: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.taxNumber" ng-disabled="vm.student.taxNumber != undefined">
  </div>

  <!-- e-mail -->
  <b>e-pošta: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.email">
  </div>

  <!-- Phone number -->
  <b>Prenosni telefon: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.phoneNumber">
  </div>

  <!-- Address -->
  <div class="col-lg-6">
    <!-- Address1 -->
    <b>Stalno bivališče</b>
    </br>
    <b>Naslov: </b>
    <div class="form-group" >
      <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.address1.line1">
    </div>
    <b>Država, občina: </b><br />
    <div class="form-group" >
      <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.address1.country.name">
    </div>
  </div>
  <div class="col-lg-6">
    <!-- Address2 -->
    <b>Zacasno bivališče</b>
    </br>
    <b>Naslov: </b>
    <div class="form-group" >
      <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.address2.line1">
    </div>
    <b>Država, občina: </b><br />
    <div class="form-group" >
      <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.student.address2.country.name">
    </div>
  </div>

  <!--Address for sending mail -->
  <b>Vročanje: </b>
  <div class="radio" style="text-align:left;">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="address1" checked="">
      Stalno bivališče
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="address2">
      Začasno bivališče
    </label>
  </div>




  <!-- Enrolment data -->
  <h3 class="enrol-section">Podatki o vpisu</h3>

  <!-- Study program -->
  <b>Študijski program: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-disabled="true" ng-model="vm.parsedStProgram">
  </div>

  <!-- Place -->
  <b>Kraj izvajanja: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-disabled="true" value="Ljubljana">
  </div>

  <!-- Selected group -->
  <b>Izbirna skupina: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-disabled="true" value="-">
  </div>

  <!-- Study type -->
  <b>Vrsta študija: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.token.studyProgram.studyDegree.name" ng-disabled="vm.token.studyProgram.studyDegree.name != undefined">
  </div>

  <!-- Enrolment type -->
  <b>Vrsta vpisa: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.token.type" ng-disabled="vm.token.type != undefined">
  </div>

  <!--Year/additional year -->
  <b>Letnik/dodatno leto: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.token.year" ng-disabled="vm.token.year != undefined">
  </div>

  <!-- Study kind -->
  <b>Način in oblika študija: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="vm.token.kind" ng-disabled="vm.token.kind != undefined">
  </div>

  <!-- Study year of first enrolment -->
  <b>Študijsko leto prvega vpisa v ta študijski program: </b>
  <div class="form-group">
    <input class="form-control input-sm" type="text" id="inputSmall" ng-model="lala" ng-disabled="">
  </div>

  

  <!-- Curriculum -->
  <h3 class="enrol-section">Priloga 1: Predmetnik</h3>

  to-do

</div>