<sis-navbar></sis-navbar>

<div class="container">
  <div>
    <h2>Vnos izpitnega roka</h2>
  </div>

  <!-- Osebni podatki -->
  <div class="panel panel-primary">
    
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <!-- Name and surname -->
          <label for="i1"> Izvajalec: </label>
          <input class="form-control input-sm" type="text" ng-model="vm.examTerm.organizer" ng-if="vm.role.id != 4" ng-value="vm.examTerm.organizer.firstName + ' ' + vm.examTerm.organizer.lastName1 + (vm.examTerm.organizer.lastName2 != null ? ' ' + vm.examTerm.organizer.lastName2: '')" ng-disabled="true">
          <select ng-model="vm.examTerm.organizer" class="form-control input-sm" ng-options="professor.firstName + ' ' + professor.lastName1 + (professor.lastName2 != null ? ' ' + professor.lastName2: '') for professor in vm.professor" ng-if="vm.role.id==4" ng-disabled="vm.examTerm.course === undefined"></select>
        </div>
        <div class="col-md-6">
          <!-- Course ID -->
          <div class="form-group">
            <label>Predmet: </label>
            <select ng-model="vm.examTerm.course" class="form-control input-sm" ng-options="co as co.course.id  + ' - ' + co.course.name + ' (' + co.studyYear.name + ')' for co in vm.availableCourses" ng-change="vm.updateSelectableOrganizers()"></select>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Datetime of exam -->
          <div class="form-group">
            <label>Datum izpita: </label>
            <div class="input-group">
              <input type="text" class="form-control input-sm" uib-datepicker-popup ng-model="vm.examTerm.date" is-open="vm.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Zapri" current-text="Danes" clear-text="Počisti" placeholder="YYYY-MM-DD" alt-input-formats="['d!.M!.yyyy']" ng-change="vm.validateDate()" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-default" style="line-height: inherit;" ng-click="vm.open2()"><span class="glyphicon glyphicon-calendar"></span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Time of exam -->
          <div class="form-group">
            <label>Ura izpita: </label>
            <div uib-timepicker ng-model="vm.examTerm.time" ng-change="vm.validateTime()" hour-step="1" minute-step="15" show-meridian="false"></div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Type of exam -->
          <div class="form-group">
            <label>Vrsta izpita: </label>
            <select ng-model="vm.examTerm.type" class="form-control input-sm">
              <option value="pisni">pisni</option>
              <option value="ustni">ustni</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Duration of exam -->
          <div class="form-group">
            <label>Čas trajanja izpita (min): </label>
            <input class="form-control input-sm" type="number" min="0" id="i3" ng-model="vm.examTerm.duration">
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Potrdi || preklici -->
  <div>
    <div style="text-align: right;margin-bottom: 100px;">
      <div class="alert alert-danger" ng-show="vm.finalizeError">
        <strong>Napaka!</strong> {{ vm.finalizeError | formatError }}
      </div>
      <a ng-click="vm.cancelEnrolment()" class="btn btn-danger"><span class="glyphicon glyphicon-chevron-left"></span> Prekliči vnos</a>
      <a ng-click="vm.finalizeInsertingExamTerm()" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Vnesi izpit</a>
    </div>
  </div>
</div>