<sis-navbar></sis-navbar>

<div class="container">
  <div>
    <h2>Vnos izpitnega roka</h2>
  </div>

  <!-- Osebni podatki -->
  <div class="panel panel-primary">
    
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <!-- Name and surname -->
          <label for="i1"> Izvajalec: </label>
          <input class="form-control input-sm" type="text" ng-model="vm.selectedProfessor" ng-if="vm.role.id != 4" ng-value="vm.selectedProfessor.firstName + ' ' + vm.selectedProfessor.lastName1 + (vm.selectedProfessor.lastName2 != null ? ' ' + vm.selectedProfessor.lastName2: '')" ng-disabled="true">
          <select ng-model="vm.selectedProfessor" class="form-control input-sm" ng-options="professor.firstName + ' ' + professor.lastName1 + (professor.lastName2 != null ? ' ' + professor.lastName2: '') for professor in vm.professor" ng-if="vm.role.id==4" ng-disabled="vm.selectedCourseOrganization === undefined"></select>
        </div>
        <div class="col-md-6">
          <!-- Course ID -->
          <div class="form-group">
            <label for="i2">Predmet: </label>
            <select ng-model="vm.selectedCourseOrganization" class="form-control input-sm" ng-options="courseOrganization.course.id + ' ' + courseOrganization.course.name + ' (' + courseOrganization.studyYear.name + ')' for courseOrganization in vm.coursesForProfessor" ng-change="vm.updateSelectableOrganizers()"></select>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Datetime of exam -->
          <div class="form-group">
            <label for="i3">Datum izpita: </label>
            <div class="input-group">
              <input type="text" class="form-control input-sm" uib-datepicker-popup ng-model="vm.dateOfExam" is-open="vm.popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Zapri" current-text="Danes" clear-text="Počisti" placeholder="YYYY-MM-DD" alt-input-formats="['d!.M!.yyyy']" ng-change="vm.validateTime()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-default" style="line-height: inherit;" ng-click="vm.open2()"><span class="glyphicon glyphicon-calendar"></span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Time of exam -->
          <div class="form-group">
            <label for="i4">Ura izpita: </label>
            <input class="form-control input-sm" type="time" id="i3" ng-model="vm.timeOfExam">
          </div>
        </div>
        <div class="col-md-6">
          <!-- Type of exam -->
          <div class="form-group">
            <label for="i5">Vrsta izpita: </label>
            <select ng-model="vm.typeOfExam" class="form-control input-sm">
              <option value="pisni">pisni</option>
              <option value="ustni">ustni</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Duration of exam -->
          <div class="form-group">
            <label for="i6">Čas trajanja izpita (min): </label>
            <input class="form-control input-sm" type="number" min="0" id="i3" ng-model="vm.durationOfExam">
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Potrdi || preklici -->
  <div>
    <div style="text-align: right;margin-bottom: 100px;">
      <div class="alert alert-danger" ng-show="vm.finalizeError">
        <strong>Napaka!</strong> {{ vm.finalizeError | formatError }}
      </div>
      <a ng-click="vm.cancelEnrolment()" class="btn btn-danger"><span class="glyphicon glyphicon-chevron-left"></span> Prekliči vnos</a>
      <a ng-click="vm.finalizeInsertingExamTerm()" class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Vnesi izpit</a>
    </div>
  </div>
</div>