<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Izbira študijskega leta</h3>
      </div>
      <div class="col-md-3">
        <div class="form-group" ng-class="{'has-error' : (vm.selection.studyYear === null && vm.selectionError)}">
          <select id="sy" class="form-control input-sm" ng-model="vm.search.studyYear" ng-options="sy.name for sy in vm.studyYears"></select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <button class="form-control input-sm btn btn-sm btn-primary" ng-click="vm.getCourseOrganizations()">Dobi izvajalce</button>
        </div>
      </div>
      <div ng-show="vm.courseOrganizations" class="col-md-12">
  
        <h3>Seznam izvajalcev predmetov v študijskem letu {{ vm.search.studyYear.name }}</h3>
        <div class="form-group">
          <label for="filterList" class="control-label">Iskanje vnosov:</label>
          <input type="text" class="form-control" id="filterList" placeholder="Iskalni niz..." ng-model="filterList">
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr class="success">
              <th>#</th>
              <th>Šifra predmeta</th>
              <th>Ime predmeta</th>
              <th>1. izvajalec</th>
              <th>2. izvajalec</th>
              <th>3. izvajalec</th>
              <th><!-- uredi/izbriši --></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="courseOrganization in vm.courseOrganizations | filter:filterList">
              <td>{{ $index + 1 }}</td>
              <td>{{ courseOrganization.course.id }}</td>
              <td>{{ courseOrganization.course.name }}</td>
              <td>{{ courseOrganization.organizer1.firstName }} {{ courseOrganization.organizer1.lastName1 }} {{ courseOrganization.organizer1.lastName2 }}</td>
              <td>{{ courseOrganization.organizer2.firstName }} {{ courseOrganization.organizer2.lastName1 }} {{ courseOrganization.organizer2.lastName2 }}</td>
              <td>{{ courseOrganization.organizer3.firstName }} {{ courseOrganization.organizer3.lastName1 }} {{ courseOrganization.organizer3.lastName2 }}</td>
              <td>
                <a class="btn btn-primary btn-xs" ng-click="vm.openEditEntryModal(courseOrganization, $index)">Uredi ...</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div style="margin-bottom: 30px;"></div>
      </div>
    </div>
  </div>
  