<div class="dropdown" style="float:right;">
  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="indexDropdown" data-toggle="dropdown">
    <span class="glyphicon glyphicon-file"></span> Kartotečni list
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="indexDropdown">
    <li><a ng-click="vm.getIndexCardPdf('full')" style="cursor:pointer">Vsa polaganja (PDF)</a></li>
    <li><a ng-click="vm.getIndexCardPdf()" style="cursor:pointer">Zadnje polaganje (PDF)</a></li>
    <li class="divider"></li>
    <li><a ng-click="vm.getIndexCardCsv('full')" style="cursor:pointer">Vsa polaganja (CSV)</a></li>
    <li><a ng-click="vm.getIndexCardCsv()" style="cursor:pointer">Zadnje polaganje (CSV)</a></li>
  </ul>
</div>