<sis-navbar></sis-navbar>
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#students" target="_self">Upravljanje študentov</a></li>
		<li><a data-toggle="tab" href="#import" target="_self">Uvoz podatkov</a></li>
	</ul>
	
	<div class="tab-content" style="margin-top:20px">
		<div id="students" class="tab-pane fade in active">

			<!-- Student data (#3)-->
			<student-list></student-list>

		</div>
		<div id="import" class="tab-pane fade">

			<!-- Student data import (#4)-->
			<student-import></student-import>

		</div>
	</div>	
</div>