/* codelist.css */
.code-list .margin-4px {
  margin: 4px;
}

/* enrol.css */
.enrol-section {
  background-color: rgb(175, 175, 175);
}

.important-data {
  font-size: 2ex;
}

/* message.css */
.status-message{
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}

.status-error{
  color: maroon;
}

.status-success{
  color: #42a271;
}

/* student.css */
.student-view .personal-data strong {
  display: block;
  margin-left: 12px;
  margin-top: 6px;
  font-size: 1.2em;
  white-space: pre-line;
}

/* login.css */
.login-content .login-title {
    text-align: center;
}

md-dialog-content {
  margin: 20px;
}

/* control.css */
.tab-content {
  margin-top: 20px;
}